In [1]:
#Create series in pandas

import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5,6,np.nan,8,9,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [2]:
# Create DataFrame using a dictionary object, using series as well,
d=pd.date_range('20200401',periods=15) # date equally placed
d

DatetimeIndex(['2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
               '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
               '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
               '2020-04-13', '2020-04-14', '2020-04-15'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df=pd.DataFrame(np.random.randn(15,4), index=d,columns=['A','B','C','D'])
df
#

                   A         B         C         D
2020-04-01  0.020830  1.488325 -0.526966  0.507678
2020-04-02  0.184991 -0.052052  0.090732  0.628219
2020-04-03  1.518487  1.718101  0.566045 -0.031820
2020-04-04 -0.923725  0.869330  0.478577 -0.458648
2020-04-05  2.771642  0.273704  0.928934  0.388425
2020-04-06 -0.959450  0.399248  0.576384  0.218715
2020-04-07  2.030242  1.396902 -1.286271  0.548502
2020-04-08  0.580824  2.859259 -0.465913  1.435027
2020-04-09 -1.391796 -1.676979  0.141662 -0.269506
2020-04-10 -1.006720 -0.633398  0.103555  1.524978
2020-04-11  0.166163 -0.881935  0.953748 -1.560479
2020-04-12 -0.188114 -0.018850  0.346787  0.054604
2020-04-13  0.144156  0.439615  0.085416  0.751822
2020-04-14 -1.159586  0.917795 -0.082060  0.243070
2020-04-15  1.609070  1.269079 -0.015960  0.681568

In [4]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'A':[1,2,3,4],
                 'B':pd.Timestamp('20200301'),
                 'C':pd.Series(2, index=list(range(4)),dtype='float32'),
                'D': np.array([5]*4,dtype='int32'),
                'E':pd.Categorical(['true','false','true','false']),
                'F':'Ashwini'})

In [5]:
df1

   A          B    C  D      E        F
0  1 2020-03-01  2.0  5   true  Ashwini
1  2 2020-03-01  2.0  5  false  Ashwini
2  3 2020-03-01  2.0  5   true  Ashwini
3  4 2020-03-01  2.0  5  false  Ashwini

In [6]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [7]:
#How to View Data
#to see first few values
df.head()

                   A         B         C         D
2020-04-01  0.020830  1.488325 -0.526966  0.507678
2020-04-02  0.184991 -0.052052  0.090732  0.628219
2020-04-03  1.518487  1.718101  0.566045 -0.031820
2020-04-04 -0.923725  0.869330  0.478577 -0.458648
2020-04-05  2.771642  0.273704  0.928934  0.388425

In [8]:
#How to View Data
#to see last few values
df.tail()

                   A         B         C         D
2020-04-11  0.166163 -0.881935  0.953748 -1.560479
2020-04-12 -0.188114 -0.018850  0.346787  0.054604
2020-04-13  0.144156  0.439615  0.085416  0.751822
2020-04-14 -1.159586  0.917795 -0.082060  0.243070
2020-04-15  1.609070  1.269079 -0.015960  0.681568

In [9]:
#How to View Data
#to see index values
df.index

DatetimeIndex(['2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
               '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
               '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
               '2020-04-13', '2020-04-14', '2020-04-15'],
              dtype='datetime64[ns]', freq='D')

In [10]:
#to know the columns used
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
#to convert the DataFrame as numpy array
df.to_numpy()

array([[ 0.02083042,  1.48832458, -0.5269661 ,  0.50767802],
       [ 0.18499113, -0.05205235,  0.0907317 ,  0.62821879],
       [ 1.5184866 ,  1.71810143,  0.56604531, -0.03182033],
       [-0.92372465,  0.8693295 ,  0.47857707, -0.45864764],
       [ 2.77164162,  0.27370355,  0.92893423,  0.38842522],
       [-0.9594504 ,  0.39924764,  0.57638403,  0.21871542],
       [ 2.03024232,  1.39690185, -1.286271  ,  0.54850155],
       [ 0.58082411,  2.8592591 , -0.46591328,  1.43502664],
       [-1.39179563, -1.67697934,  0.14166192, -0.26950579],
       [-1.00672004, -0.63339795,  0.1035553 ,  1.5249778 ],
       [ 0.16616266, -0.88193489,  0.95374804, -1.56047945],
       [-0.18811382, -0.01884965,  0.346787  ,  0.0546042 ],
       [ 0.14415632,  0.43961544,  0.08541585,  0.75182173],
       [-1.15958593,  0.9177946 , -0.08205997,  0.24307028],
       [ 1.60907039,  1.26907878, -0.01596007,  0.6815681 ]])

In [12]:
#to understand about the DataFrame
df.describe()

               A          B          C          D
count  15.000000  15.000000  15.000000  15.000000
mean    0.226468   0.557876   0.126311   0.310810
std     1.266443   1.141923   0.581729   0.751128
min    -1.391796  -1.676979  -1.286271  -1.560479
25%    -0.941588  -0.035451  -0.049010   0.011392
50%     0.144156   0.439615   0.103555   0.388425
75%     1.049655   1.332990   0.522311   0.654893
max     2.771642   2.859259   0.953748   1.524978

In [13]:
#to sort through index (ascending/Descending)
df.sort_index(axis=0, ascending= False)

                   A         B         C         D
2020-04-15  1.609070  1.269079 -0.015960  0.681568
2020-04-14 -1.159586  0.917795 -0.082060  0.243070
2020-04-13  0.144156  0.439615  0.085416  0.751822
2020-04-12 -0.188114 -0.018850  0.346787  0.054604
2020-04-11  0.166163 -0.881935  0.953748 -1.560479
2020-04-10 -1.006720 -0.633398  0.103555  1.524978
2020-04-09 -1.391796 -1.676979  0.141662 -0.269506
2020-04-08  0.580824  2.859259 -0.465913  1.435027
2020-04-07  2.030242  1.396902 -1.286271  0.548502
2020-04-06 -0.959450  0.399248  0.576384  0.218715
2020-04-05  2.771642  0.273704  0.928934  0.388425
2020-04-04 -0.923725  0.869330  0.478577 -0.458648
2020-04-03  1.518487  1.718101  0.566045 -0.031820
2020-04-02  0.184991 -0.052052  0.090732  0.628219
2020-04-01  0.020830  1.488325 -0.526966  0.507678

In [14]:
#to sort through one column
df.sort_values(by='C')

                   A         B         C         D
2020-04-07  2.030242  1.396902 -1.286271  0.548502
2020-04-01  0.020830  1.488325 -0.526966  0.507678
2020-04-08  0.580824  2.859259 -0.465913  1.435027
2020-04-14 -1.159586  0.917795 -0.082060  0.243070
2020-04-15  1.609070  1.269079 -0.015960  0.681568
2020-04-13  0.144156  0.439615  0.085416  0.751822
2020-04-02  0.184991 -0.052052  0.090732  0.628219
2020-04-10 -1.006720 -0.633398  0.103555  1.524978
2020-04-09 -1.391796 -1.676979  0.141662 -0.269506
2020-04-12 -0.188114 -0.018850  0.346787  0.054604
2020-04-04 -0.923725  0.869330  0.478577 -0.458648
2020-04-03  1.518487  1.718101  0.566045 -0.031820
2020-04-06 -0.959450  0.399248  0.576384  0.218715
2020-04-05  2.771642  0.273704  0.928934  0.388425
2020-04-11  0.166163 -0.881935  0.953748 -1.560479

In [15]:
#To extract single column
df['D']

2020-04-01    0.507678
2020-04-02    0.628219
2020-04-03   -0.031820
2020-04-04   -0.458648
2020-04-05    0.388425
2020-04-06    0.218715
2020-04-07    0.548502
2020-04-08    1.435027
2020-04-09   -0.269506
2020-04-10    1.524978
2020-04-11   -1.560479
2020-04-12    0.054604
2020-04-13    0.751822
2020-04-14    0.243070
2020-04-15    0.681568
Freq: D, Name: D, dtype: float64

In [16]:
#slicing the rows(starting from 1st value to 3rd value)
df[0:3]

                   A         B         C         D
2020-04-01  0.020830  1.488325 -0.526966  0.507678
2020-04-02  0.184991 -0.052052  0.090732  0.628219
2020-04-03  1.518487  1.718101  0.566045 -0.031820

In [17]:
#selecting the data using labels
df.loc[d[0]]

A    0.020830
B    1.488325
C   -0.526966
D    0.507678
Name: 2020-04-01 00:00:00, dtype: float64

In [18]:
#Slicing all the values from 0 to 14 for D and C column

df.loc[d[1:5] ,['D','C','A']]

                   D         C         A
2020-04-02  0.628219  0.090732  0.184991
2020-04-03 -0.031820  0.566045  1.518487
2020-04-04 -0.458648  0.478577 -0.923725
2020-04-05  0.388425  0.928934  2.771642

In [19]:
#Slicing the values from DataFrames through index range 1st april 2020 t0 6th April 2020

df.loc['20200403':'20200407',['D','C']]

                   D         C
2020-04-03 -0.031820  0.566045
2020-04-04 -0.458648  0.478577
2020-04-05  0.388425  0.928934
2020-04-06  0.218715  0.576384
2020-04-07  0.548502 -1.286271

In [20]:
#from the DataFrame, just look for one index value having columns D and C
df.loc['20200406',['D','C','A']]

D    0.218715
C    0.576384
A   -0.959450
Name: 2020-04-06 00:00:00, dtype: float64

In [21]:
#from the DataFrame, just look for one index value having columns D and C
df.loc[d[5],['D','C']]

D    0.218715
C    0.576384
Name: 2020-04-06 00:00:00, dtype: float64

In [22]:
#if i want to see just one value of the DataFrame using index number and instad of loc, I use at
df.at[d[5],'C']

0.57638402960533

In [23]:
#select a value using position around a dataframe
df.iloc[3]

A   -0.923725
B    0.869330
C    0.478577
D   -0.458648
Name: 2020-04-04 00:00:00, dtype: float64

In [24]:
#select range value using position around a dataframe
df.iloc[3:5]

                   A         B         C         D
2020-04-04 -0.923725  0.869330  0.478577 -0.458648
2020-04-05  2.771642  0.273704  0.928934  0.388425

In [25]:
#select range value using position around a dataframe, and furthur slicing
df.iloc[3:5,0:2]

                   A         B
2020-04-04 -0.923725  0.869330
2020-04-05  2.771642  0.273704

In [26]:
#printt the rows which have column A > 0 ,replace 0 with other numbers to see the result
df[df['A'] > 1]

                   A         B         C         D
2020-04-03  1.518487  1.718101  0.566045 -0.031820
2020-04-05  2.771642  0.273704  0.928934  0.388425
2020-04-07  2.030242  1.396902 -1.286271  0.548502
2020-04-15  1.609070  1.269079 -0.015960  0.681568

In [27]:
#Handling the missing data
'''
How to handle the missing data?
missing data or null values in a data can create a lot of ruckus in other stages of data science life cycle,
it is very important to deal with the missing data in an effective manner. 

Reindexing needs to be done: It allows change, edit, delete on a specified axis, it will also return a copy of the same.
after reindexing add another column'''

df2=df.reindex(index=d[0:4], columns=list(df.columns) + ['E'])

In [28]:
#in the output 2 values are assigned 1, while other values of E column are NaN, How to go for missing values
df2.loc[d[0]:d[1],'E']=1
df2

                   A         B         C         D    E
2020-04-01  0.020830  1.488325 -0.526966  0.507678  1.0
2020-04-02  0.184991 -0.052052  0.090732  0.628219  1.0
2020-04-03  1.518487  1.718101  0.566045 -0.031820  NaN
2020-04-04 -0.923725  0.869330  0.478577 -0.458648  NaN

In [29]:
# by isnull function we can find null values as true
df2.isnull()

                A      B      C      D      E
2020-04-01  False  False  False  False  False
2020-04-02  False  False  False  False  False
2020-04-03  False  False  False  False   True
2020-04-04  False  False  False  False   True

In [30]:
# how to drop null value data, actually the whole row is dropped.
df2.dropna()

                   A         B         C         D    E
2020-04-01  0.020830  1.488325 -0.526966  0.507678  1.0
2020-04-02  0.184991 -0.052052  0.090732  0.628219  1.0

In [31]:
# how to fill the null values
df2.fillna(value=2)

                   A         B         C         D    E
2020-04-01  0.020830  1.488325 -0.526966  0.507678  1.0
2020-04-02  0.184991 -0.052052  0.090732  0.628219  1.0
2020-04-03  1.518487  1.718101  0.566045 -0.031820  2.0
2020-04-04 -0.923725  0.869330  0.478577 -0.458648  2.0

In [32]:
#you can also find null values from data frame by using pandas
pd.isna(df2)

                A      B      C      D      E
2020-04-01  False  False  False  False  False
2020-04-02  False  False  False  False  False
2020-04-03  False  False  False  False   True
2020-04-04  False  False  False  False   True

In [33]:
'''Pandas operation
different operation can help to explore the data to reach conclusion
1. desciptive statistics operation
2. applying function to the data
3. string processing operation
histogramming'''

#to find mean of dataframe
df.mean()

A    0.226468
B    0.557876
C    0.126311
D    0.310810
dtype: float64

In [34]:
#to find mean of dataframe on one value
df.mean(1)

2020-04-01    0.372467
2020-04-02    0.212972
2020-04-03    0.942703
2020-04-04   -0.008616
2020-04-05    1.090676
2020-04-06    0.058724
2020-04-07    0.672344
2020-04-08    1.102299
2020-04-09   -0.799155
2020-04-10   -0.002896
2020-04-11   -0.330626
2020-04-12    0.048607
2020-04-13    0.355252
2020-04-14   -0.020195
2020-04-15    0.885939
Freq: D, dtype: float64

In [35]:
# how to change values in a series with index d, a two shift gives NaN values to index 1 and 2.
s = pd.Series([1,2,3,4,np.nan,6,7,8,9,10,11,12,12,14,15], index=d).shift(2)

In [36]:
s

2020-04-01     NaN
2020-04-02     NaN
2020-04-03     1.0
2020-04-04     2.0
2020-04-05     3.0
2020-04-06     4.0
2020-04-07     NaN
2020-04-08     6.0
2020-04-09     7.0
2020-04-10     8.0
2020-04-11     9.0
2020-04-12    10.0
2020-04-13    11.0
2020-04-14    12.0
2020-04-15    12.0
Freq: D, dtype: float64

In [37]:
df

                   A         B         C         D
2020-04-01  0.020830  1.488325 -0.526966  0.507678
2020-04-02  0.184991 -0.052052  0.090732  0.628219
2020-04-03  1.518487  1.718101  0.566045 -0.031820
2020-04-04 -0.923725  0.869330  0.478577 -0.458648
2020-04-05  2.771642  0.273704  0.928934  0.388425
2020-04-06 -0.959450  0.399248  0.576384  0.218715
2020-04-07  2.030242  1.396902 -1.286271  0.548502
2020-04-08  0.580824  2.859259 -0.465913  1.435027
2020-04-09 -1.391796 -1.676979  0.141662 -0.269506
2020-04-10 -1.006720 -0.633398  0.103555  1.524978
2020-04-11  0.166163 -0.881935  0.953748 -1.560479
2020-04-12 -0.188114 -0.018850  0.346787  0.054604
2020-04-13  0.144156  0.439615  0.085416  0.751822
2020-04-14 -1.159586  0.917795 -0.082060  0.243070
2020-04-15  1.609070  1.269079 -0.015960  0.681568

In [38]:
#apply function on dataframe
#cumsum() function is used when we want to compute the cumulative sum of array elements over a given axis.
df.apply(np.cumsum)

                   A         B         C         D
2020-04-01  0.020830  1.488325 -0.526966  0.507678
2020-04-02  0.205822  1.436272 -0.436234  1.135897
2020-04-03  1.724308  3.154374  0.129811  1.104076
2020-04-04  0.800583  4.023703  0.608388  0.645429
2020-04-05  3.572225  4.297407  1.537322  1.033854
2020-04-06  2.612775  4.696654  2.113706  1.252569
2020-04-07  4.643017  6.093556  0.827435  1.801071
2020-04-08  5.223841  8.952815  0.361522  3.236098
2020-04-09  3.832046  7.275836  0.503184  2.966592
2020-04-10  2.825325  6.642438  0.606739  4.491570
2020-04-11  2.991488  5.760503  1.560487  2.931090
2020-04-12  2.803374  5.741653  1.907274  2.985694
2020-04-13  2.947531  6.181269  1.992690  3.737516
2020-04-14  1.787945  7.099064  1.910630  3.980586
2020-04-15  3.397015  8.368142  1.894670  4.662155

In [39]:
#Lambda functions are called anonymous function beacuse they dont look like normal function.
''' 
Syntax normal function

def function_name(parameter):
    and then expression

syntax lambda
    lambda parameter : expression

sum of two numbers using lambda function
lambdaSum = lambda a,b : a+b
    '''
lambdaSum = lambda a,b : a+b

In [40]:
'''The reason for using lambda function is, its handyand whenever we quicly try to write an inline function.
They look very simple and does not need too much of coding unlike normal functions'''
lambdaSum(5,8)

13

In [41]:
#find largest numbers from 2 given numbers
largest = lambda a,b : a if a>b else b

In [42]:
largest(5,9)

9

In [43]:
'''#lambda function can be used inside a filter function
filter even number from a list using lambda and filter function'''
list1=[1,2,3,4,5,6,7,8,9,10]

In [44]:
list(filter(lambda x:x%2==0, list1))

[2, 4, 6, 8, 10]

In [45]:
''' Similarly lambda function can be applied here as

'''
df.apply(lambda x: x.max() - x.min())

A    4.163437
B    4.536238
C    2.240019
D    3.085457
dtype: float64

In [46]:
'''Histogramming : A representation of distribution of data
One histogram per column'''

s.value_counts()

12.0    2
11.0    1
10.0    1
9.0     1
8.0     1
7.0     1
6.0     1
4.0     1
3.0     1
2.0     1
1.0     1
dtype: int64

In [47]:
#string operation: 
#change upper to lower case and vice versa
s=pd.Series(['FifthSemester','Python','Pandemic',np.nan,'Online','Lectures','StudentsConcentration','High','LoveSubject'])

In [48]:
s.str.upper()

0            FIFTHSEMESTER
1                   PYTHON
2                 PANDEMIC
3                      NaN
4                   ONLINE
5                 LECTURES
6    STUDENTSCONCENTRATION
7                     HIGH
8              LOVESUBJECT
dtype: object

In [49]:
#Merge and Join the data
df = pd.DataFrame(np.random.randn(10,4))

In [50]:
df

          0         1         2         3
0 -1.053988 -0.762179 -0.146016 -1.610449
1  1.212642 -2.725204 -0.684177  0.463589
2  0.568690  2.125194  1.297037  0.475499
3  0.815005 -1.927092 -0.816118 -1.238485
4 -0.313734 -1.143561  0.040690 -1.377622
5  3.118337  1.580085 -1.618761 -0.236537
6  1.252072  0.606404 -2.303596  0.574208
7 -1.353669 -0.021252  0.702996 -0.209709
8 -1.824019  0.212252  0.907313  0.378831
9 -0.027517 -1.231768  0.445237 -0.423052

In [51]:
#convert the dataframe in to pieces

df2=[df[:5], df[5:7], df[7:]]

In [52]:
df2

[          0         1         2         3
 0 -1.053988 -0.762179 -0.146016 -1.610449
 1  1.212642 -2.725204 -0.684177  0.463589
 2  0.568690  2.125194  1.297037  0.475499
 3  0.815005 -1.927092 -0.816118 -1.238485
 4 -0.313734 -1.143561  0.040690 -1.377622,
           0         1         2         3
 5  3.118337  1.580085 -1.618761 -0.236537
 6  1.252072  0.606404 -2.303596  0.574208,
           0         1         2         3
 7 -1.353669 -0.021252  0.702996 -0.209709
 8 -1.824019  0.212252  0.907313  0.378831
 9 -0.027517 -1.231768  0.445237 -0.423052]

In [53]:
#Concat the DataFrame by using pandas concat function
pd.concat(df2)

          0         1         2         3
0 -1.053988 -0.762179 -0.146016 -1.610449
1  1.212642 -2.725204 -0.684177  0.463589
2  0.568690  2.125194  1.297037  0.475499
3  0.815005 -1.927092 -0.816118 -1.238485
4 -0.313734 -1.143561  0.040690 -1.377622
5  3.118337  1.580085 -1.618761 -0.236537
6  1.252072  0.606404 -2.303596  0.574208
7 -1.353669 -0.021252  0.702996 -0.209709
8 -1.824019  0.212252  0.907313  0.378831
9 -0.027517 -1.231768  0.445237 -0.423052

In [54]:
#join function left and right join

left=pd.DataFrame({'A':[1,2], 'C':[5,4]})
right=pd.DataFrame({'C':[5,2], 'D':[4,5]})
left

   A  C
0  1  5
1  2  4

In [55]:
right

   C  D
0  5  4
1  2  5

In [56]:
pd.merge(left, right, on='C')

   A  C  D
0  1  5  4

In [57]:
'''Reshape Data 
Reshaping is munging the data according to our specifications
1. Stack:

Before that lets learn zip function

lets create two tuples

'''
names = (" Anjali", "Nitya" , "Shraddha")
classes = ("Ce1", "Ce2", "Ce3")

# zip(names,classes) save it in a separate object

#zipped = zip(names,classes)
# print(zipped)
zipped =  list(zip(names,classes))
print(zipped)

[(' Anjali', 'Ce1'), ('Nitya', 'Ce2'), ('Shraddha', 'Ce3')]

In [58]:
my_tuple = list(zip(*[[1,2,3,4,5,17,18,19], [11,12,13,6,7,8,9,10]]))

In [59]:
# A new index will be created
index = pd.MultiIndex.from_tuples(my_tuple, names=['First', 'Second'])

In [60]:
df = pd.DataFrame(np.random.randn(8,2), index = index, columns=['A', 'B'])
df

                     A         B
First Second
1     11      0.786492 -0.364592
2     12      0.639339 -2.318972
3     13      0.302656  1.243696
4     6       0.617645  1.690934
5     7      -0.840758 -0.097530
17    8      -0.501838  1.481924
18    9      -1.344906  0.582626
19    10     -0.482907 -1.193407

In [61]:
#Slicing and taking only four rows
df2 = df[:4]

In [62]:
#reshaped dataframe!
df2

                     A         B
First Second
1     11      0.786492 -0.364592
2     12      0.639339 -2.318972
3     13      0.302656  1.243696
4     6       0.617645  1.690934

In [63]:
#Stack and unstack the dataframe
#stack or compress a level 
df2.stack()

First  Second
1      11      A    0.786492
               B   -0.364592
2      12      A    0.639339
               B   -2.318972
3      13      A    0.302656
               B    1.243696
4      6       A    0.617645
               B    1.690934
dtype: float64

In [64]:
a=df2.stack()

In [65]:
a.unstack()

                     A         B
First Second
1     11      0.786492 -0.364592
2     12      0.639339 -2.318972
3     13      0.302656  1.243696
4     6       0.617645  1.690934

In [66]:
#Time series and categoricals
'''Pandas has simple, powerful and effiecient functinality for performing resampling operations during frequency conversion
time series: days, months, year
categorical data are either yes or no situation, 0 or 1, true or false

1st example convert into 5minutely data'''

dates = pd.date_range('20200301', periods = 100, freq = 'S' )

In [67]:
dates

DatetimeIndex(['2020-03-01 00:00:00', '2020-03-01 00:00:01',
               '2020-03-01 00:00:02', '2020-03-01 00:00:03',
               '2020-03-01 00:00:04', '2020-03-01 00:00:05',
               '2020-03-01 00:00:06', '2020-03-01 00:00:07',
               '2020-03-01 00:00:08', '2020-03-01 00:00:09',
               '2020-03-01 00:00:10', '2020-03-01 00:00:11',
               '2020-03-01 00:00:12', '2020-03-01 00:00:13',
               '2020-03-01 00:00:14', '2020-03-01 00:00:15',
               '2020-03-01 00:00:16', '2020-03-01 00:00:17',
               '2020-03-01 00:00:18', '2020-03-01 00:00:19',
               '2020-03-01 00:00:20', '2020-03-01 00:00:21',
               '2020-03-01 00:00:22', '2020-03-01 00:00:23',
               '2020-03-01 00:00:24', '2020-03-01 00:00:25',
               '2020-03-01 00:00:26', '2020-03-01 00:00:27',
               '2020-03-01 00:00:28', '2020-03-01 00:00:29',
               '2020-03-01 00:00:30', '2020-03-01 00:00:31',
               '2020-03-01 00:00:32', '2020-03-01 00:00:33',
               '2020-03-01 00:00:34', '2020-03-01 00:00:35',
               '2020-03-01 00:00:36', '2020-03-01 00:00:37',
               '2020-03-01 00:00:38', '2020-03-01 00:00:39',
               '2020-03-01 00:00:40', '2020-03-01 00:00:41',
               '2020-03-01 00:00:42', '2020-03-01 00:00:43',
               '2020-03-01 00:00:44', '2020-03-01 00:00:45',
               '2020-03-01 00:00:46', '2020-03-01 00:00:47',
               '2020-03-01 00:00:48', '2020-03-01 00:00:49',
               '2020-03-01 00:00:50', '2020-03-01 00:00:51',
               '2020-03-01 00:00:52', '2020-03-01 00:00:53',
               '2020-03-01 00:00:54', '2020-03-01 00:00:55',
               '2020-03-01 00:00:56', '2020-03-01 00:00:57',
               '2020-03-01 00:00:58', '2020-03-01 00:00:59',
               '2020-03-01 00:01:00', '2020-03-01 00:01:01',
               '2020-03-01 00:01:02', '2020-03-01 00:01:03',
               '2020-03-01 00:01:04', '2020-03-01 00:01:05',
               '2020-03-01 00:01:06', '2020-03-01 00:01:07',
               '2020-03-01 00:01:08', '2020-03-01 00:01:09',
               '2020-03-01 00:01:10', '2020-03-01 00:01:11',
               '2020-03-01 00:01:12', '2020-03-01 00:01:13',
               '2020-03-01 00:01:14', '2020-03-01 00:01:15',
               '2020-03-01 00:01:16', '2020-03-01 00:01:17',
               '2020-03-01 00:01:18', '2020-03-01 00:01:19',
               '2020-03-01 00:01:20', '2020-03-01 00:01:21',
               '2020-03-01 00:01:22', '2020-03-01 00:01:23',
               '2020-03-01 00:01:24', '2020-03-01 00:01:25',
               '2020-03-01 00:01:26', '2020-03-01 00:01:27',
               '2020-03-01 00:01:28', '2020-03-01 00:01:29',
               '2020-03-01 00:01:30', '2020-03-01 00:01:31',
               '2020-03-01 00:01:32', '2020-03-01 00:01:33',
               '2020-03-01 00:01:34', '2020-03-01 00:01:35',
               '2020-03-01 00:01:36', '2020-03-01 00:01:37',
               '2020-03-01 00:01:38', '2020-03-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [68]:
#Date Time Series
'''
1. Time Module
2. Built in function
3. Examples
4. The datetime module
5. Built-in functions
6. Examples
'''

'\n1. Time Module\n2. Built in function\n3. Examples\n4. The datetime module\n5. Built-in functions\n6. Examples\n'

In [69]:
'''The time module and its built in methods
epochs mean "time in history" and begins in 1st January 1970
function
time(): No. of seconds passed since the epoch, 
ctime(): return the current date and time, taking elapsed second as its parameter
sleep(): stops the execution of a thread for a given period of time,
localtime():returns the date and time in time.struct_time format in by taking,
        the number of seconds passed since the epoch as the parameter,
gmtime():returns the current date and time in UTC format(Universal Time Coordinated (UTC)) ,
mktime(): it is the inverse of local time,it take a tuple of 9 parameters and returns the seconds passed since the epoch,
asctime(): It takes 9 parameters and returns a string representing the same.
'''

'The time module and its built in methods\nepochs mean "time in history" and begins in 1st January 1970\nfunction\ntime(): No. of seconds passed since the epoch, \nctime(): return the current date and time, taking elapsed second as its parameter\nsleep(): stops the execution of a thread for a given period of time,\nlocaltime():returns the date and time in time.struct_time format in by taking,\n        the number of seconds passed since the epoch as the parameter,\ngmtime():returns the current date and time in UTC format(Universal Time Coordinated (UTC)) ,\nmktime(): it is the inverse of local time,it take a tuple of 9 parameters and returns the seconds passed since the epoch,\nasctime(): It takes 9 parameters and returns a string representing the same.\n'

In [90]:
#number of second elapsed since start of the epoch
import time
time.time()

1599723892.115415

In [92]:
#if you want to know the current time wrt to epoch
time.ctime(1599723892.)

'Thu Sep 10 13:14:52 2020'

In [72]:
help(time.time)

Help on built-in function time in module time:

time(...)
    time() -> floating point number

    Return the current time in seconds since the Epoch.
    Fractions of a second may be present if the system clock provides them.

In [73]:
help(time.ctime)

Help on built-in function ctime in module time:

ctime(...)
    ctime(seconds) -> string

    Convert a time in seconds since the Epoch to a string in local time.
    This is equivalent to asctime(localtime(seconds)). When the time tuple is
    not present, current time as returned by localtime() is used.

In [93]:
#Refer PPT to know the elements
time.localtime()

time.struct_time(tm_year=2020, tm_mon=9, tm_mday=10, tm_hour=13, tm_min=18, tm_sec=47, tm_wday=3, tm_yday=254, tm_isdst=0)

In [94]:
#mktime shows the number of seconds passed till now
a=time.localtime()
b=time.mktime(a)
print(b)

1599724364.0

In [95]:
#it take the localtime format(struct time format of 9 parameters and result in a readable string)
c = time.asctime(a)
print(c)

Thu Sep 10 13:22:44 2020

In [77]:
#format the time with strf(), and strp() time method
'''strf(): it take struct time format and returns string, and 
    strp() it takes a string and returns a struct time format'''
help(time.strftime)

Help on built-in function strftime in module time:

strftime(...)
    strftime(format[, tuple]) -> string

    Convert a time tuple to a string according to a format specification.
    See the library reference manual for formatting codes. When the time tuple
    is not present, current time as returned by localtime() is used.

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [78]:
print(a)

time.struct_time(tm_year=2020, tm_mon=9, tm_mday=10, tm_hour=12, tm_min=57, tm_sec=33, tm_wday=3, tm_yday=254, tm_isdst=0)

In [97]:
x=time.strftime("%d/%m/%Y")
print(x)

10/09/2020

In [98]:
y = "09 September 2020"
s=time.strptime(y,"%d %B %Y")
print(s)

time.struct_time(tm_year=2020, tm_mon=9, tm_mday=9, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=253, tm_isdst=-1)

# datetime

In [81]:
import datetime

In [82]:
print(datetime.datetime(2020,9,10,1,34,55,543))

2020-09-10 01:34:55.000543

In [83]:
#current date time
datetime.datetime.today()

datetime.datetime(2020, 9, 10, 12, 57, 34, 254280)

In [84]:
v=datetime.datetime.now()

In [85]:
v.year

2020

In [86]:
print(v.month)
print(v.hour)

9
12

In [87]:
datetime.date(2020,9,7)

datetime.date(2020, 9, 7)

In [88]:
k=datetime.time(1,28,45)

In [89]:
#Manipulating Cateorical Variables
'''A categorical variable is one that has a specific value from a limited selection of values. 
To understand how categorical variable works  say that you have a variable expressing the color 
of an oject, such as car, and the user can select red, blue and green'''

'A categorical variable is one that has a specific value from a limited selection of values. \nTo understand how categorical variable works  say that you have a variable expressing the color \nof an oject, such as car, and the user can select red, blue and green'